#app {
    background: #FBEBE8;
    font-family: consolas;
    margin: auto;
    text-align: center;
    width: 40%;
}

.task-finished {
    text-decoration: line-through;

ul {
    list-style-type: none;
}


.task {
    display: flex;
}

.flex-left {
    flex: 1 1 100%;
}

.flex-right {
    flex: 1 1 auto;
}

.task button {
    border: none;
    background: rgba(1, 1, 1, 0);
    cursor: pointer;
}