* {
    box-sizing: border-box; 
}
#app {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: auto;
    text-align: center;
    width: 40%;
}

#button {
    visibility: hidden;
}

#task-input {
    border: 1px solid rgba(1, 1, 1, 0.3);
    border-radius: 3px;
    font-size: 2em;
    padding: 2% 0;
    text-align: center;
    width: 100%;
}

.task-finished {
    text-decoration: line-through;
}

ul {
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
}

.task {
    border: 1px solid rgba(1, 1, 1, 0.2);
    border-radius: 2px;
    display: flex;
    font-size: 1.5em;
    margin-bottom: 5px;
    padding: 10px;
}

.task .flex-left {
    flex: 1 1 100%;
    text-align: left;
}

.task .flex-right {
    text-align: left;
    flex: 1 1 0%;
}

.task button {
    border: none;
    background: rgba(1, 1, 1, 0);
    cursor: pointer;
}

.task i {
    font-size: 1.5em;
}